<div class="orderform">
  
  


<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :customer_name %>
    <%= f.text_field :customer_name %>
  </div>

  <div class="field">
    <%= f.label :customer_number %>
    <%= f.text_field :customer_number %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

<div class="field">
    <%= f.label :order_size %>
    <%= f.label :order_size, "Big", :value => "Big"  %>
    <%= f.radio_button :order_size, "Big" %>
    <%= f.label :order_size, "Small", :value => "small" %>
    <%= f.radio_button :order_size, "Small" %>
  </div>
  
  <div class="field">
    <%= f.label 'Driver name:' %>
    <%= f.collection_select :vehicles_id, Vehicle.all, :id, :driverName %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
 <div id = "tble" class="table table-hover">
    
    <div class="row header">
      <div class="cell">
        ID
      </div>
      <div class="cell">
        Driver Name
      </div>
      <div class="cell">
        Car Type
      </div>
      <div class="cell">
        Distance
      </div>
      <div class="cell">
        Queue
      </div>
    </div>
    
    <% @vehicles.each do |vehicle| %>
    
      <div class="row">
        <div class="cell">
          <%= vehicle.id %>
        </div>
        <div class="cell">
          <%= vehicle.driverName %>
        </div>
        <div class="cell">
          <%= vehicle.carType %>
        </div>
        <div class="cell">
          <%= vehicle.distance %>
        </div>
        <div class="cell">
          <%= vehicle.queue %>
        </div>
      </div>
    <% end %>
</div>

<!--<div class="table-responsive">-->
<!--  <h2>Table</h2>    -->
<!--  <p>The .table-striped class adds zebra-striping to any table row within tbody (not available in IE8):</p>                  -->
<!--  <table class="table table-striped  table-bordered table-hover">-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th>#</th>-->
<!--        <th>Firstname</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <tr>-->
<!--        <td>1</td>-->
<!--        <td>Anna</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>2</td>-->
<!--        <td>Debbie</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>3</td>-->
<!--        <td>John</td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
