<p id="notice"><%= notice %></p>

<h1 style = "text-align = center">Vehicles</h1>

<!--  <thead>-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>Distance</th>-->
<!--      <th>Drivername</th>-->
<!--      <th>Platenumber</th>-->
<!--      <th>Cartype</th>-->
<!--      <th>Modelmake</th>-->
<!--      <th>Queue</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @vehicles.each do |vehicle| %>-->
<!--      <tr>-->
<!--        <td><%= vehicle.id %></td>-->
<!--        <td><%= vehicle.distance %></td>-->
<!--        <td><%= vehicle.driverName %></td>-->
<!--        <td><%= vehicle.plateNumber %></td>-->
<!--        <td><%= vehicle.carType %></td>-->
<!--        <td><%= vehicle.modelMake %></td>-->
<!--        <td><%= vehicle.queue %></td>-->
<!--        <td><%= link_to 'Show', vehicle %></td>-->
<!--        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>-->
<!--        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->




 <div class="table">
    
    <div class="row header">
      <div class="cell">
        ID
      </div>
      <div class="cell">
        Driver Name
      </div>
      <div class="cell">
        Number Plate
      </div>
      <div class="cell">
        Car Type
      </div>
      <div class="cell">
        Model and Make
      </div>
      <div class="cell">
        Distance
      </div>
      <div class="cell">
        Queue
      </div>
    </div>
    
    <% @vehicles.each do |vehicle| %>
    
      <div class="row">
        <div class="cell">
          <%= vehicle.id %>
        </div>
        <div class="cell">
          <%= vehicle.driverName %>
        </div>
        <div class="cell">
          <%= vehicle.plateNumber %>
        </div>
        <div class="cell">
          <%= vehicle.carType %>
        </div>
        <div class="cell">
          <%= vehicle.modelMake%>
        </div>
        <div class="cell">
          <%= vehicle.distance %>
        </div>
        <div class="cell">
          <%= vehicle.queue %>
        </div>
        
        <div class="cell">
          <%= link_to 'Show', vehicle %>
        </div>
        <div class="cell">
          <%= link_to 'Edit', edit_vehicle_path(vehicle) %>
        </div>
        <div class="cell">
          <%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
</div>

<br>
<%= link_to 'New Vehicle', new_vehicle_path %>