<p id="notice"><%= notice %></p>

<p>
  <strong>Distance:</strong>
  <%= @vehicle.distance %>
</p>

<p>
  <strong>Drivername:</strong>
  <%= @vehicle.driverName %>
</p>

<p>
  <strong>Platenumber:</strong>
  <%= @vehicle.plateNumber %>
</p>

<p>
  <strong>Cartype:</strong>
  <%= @vehicle.carType %>
</p>

<p>
  <strong>Modelmake:</strong>
  <%= @vehicle.modelMake %>
</p>

<p>
  <strong>Queue:</strong>
  <%= @vehicle.queue %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
